<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    @DateTime.Now
    @Request.Url
    @{
        var name = " ahmed";
        var age = 32;
    }
    <h1>Wellcom MS : @name  ,your Age : @age</h1>

</body>
</html>
